<%= javascript_include_tag :fckeditor %>

<h1>修改新闻</h1>

<% form_for(@news_topic,:url=>admin_news_topic_path(@news_topic)) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label "标题" %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label "内容" %><br />
    <%= fckeditor_textarea("news_topic", "body", :toolbarSet => 'Simple', :width => '600px', :height => '500px') %>
  </p>
  <p>
    <%= f.label "隶属新闻分类" %><br />
    <%= f.hidden_field :news_category_id %>
  </p>
  <p>
    <script src="/javascripts/xtree.js"></script>
    <link type="text/css" rel="stylesheet" href="xtree.css">

    <script  type="text/javascript">
      function setCategory(id){
        var d=document.getElementById("news_topic_news_category_id");
        if(id==0)
          d.value="";
        else
          d.value=id.toString();
      }
      var tree=new WebFXTree("Root");
  <% for nc in @news_categories   %>
      var tree_<%=nc.id %>=new WebFXTreeItem('<%=nc.name %>',"javascript:setCategory(<%=nc.id%>)");
    <%if nc.parent_id.blank? %>
        tree.add(tree_<%=nc.id %>);
    <%else%>
        tree_<%=nc.parent_id %>.add(tree_<%=nc.id %>,"javascript:setCategory(<%=nc.id%>)");
    <%end%>
  <%  end %>
    document.write(tree);
    </script>
  </p>
  <p>
    <%= f.submit "更新" %>
  </p>
<% end %>

<%= link_to '显示', admin_news_topic_path(@news_topic) %> |
<%= link_to '后退', admin_news_topics_path %>
