<h1>Listing news_topics</h1>

<table>
        <tr>
                <th>Title</th>
        </tr>

        <% for news_topic in @news_topics %>
            <tr>
                    <td><%=h news_topic.title %></td>
                    <td><%= link_to 'Show', admin_news_topic_path(news_topic) %></td>
                    <td><%= link_to 'Edit', edit_admin_news_topic_path(news_topic) %></td>
                    <td><%= link_to 'Destroy', admin_news_topic_path(news_topic), :confirm => 'Are you sure?', :method => :delete %></td>
            </tr>
        <% end %>
</table>

<br />

<%= link_to 'New news_topic', new_admin_news_topic_path %>
