<h1>修改订单</h1>

<% form_for(@order,:url => admin_order_path(@order)) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label "真实姓名" %><br />
    <%= f.text_field :realname %>
  </p>
  <p>
    <%= f.label "身份证" %><br />
    <%= f.text_field :idcard %>
  </p>
  <p>
    <%= f.label "房间类型ID" %><br />
    <%= f.text_field :product_id %>
  </p>
  <p>
    <%= f.label "人数" %><br />
    <%= f.text_field :peoplenum %>
  </p>
  <p>
    <%= f.label "预住天数" %><br />
    <%= f.text_field :days %>
  </p>
  <p>
    <%= f.label "到达日期" %><br />
    <%= f.datetime_select :arrivaldate %>
  </p>
  <p>
    <%= f.label "联系方式" %><br />
    <%= f.text_field :contact %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to '显示', admin_order_path(@order) %> |
<%= link_to '后退', admin_orders_path %>
