<h1>Listing orders</h1>

<table>
  <tr>
    <th>Realname</th>
    <th>Idcard</th>
    <th>Product</th>
    <th>Peoplenum</th>
    <th>Days</th>
    <th>Arrivaldate</th>
    <th>Contact</th>
    <th>Email</th>
  </tr>

<% for order in @orders %>
  <tr>
    <td><%=h order.realname %></td>
    <td><%=h order.idcard %></td>
    <td><%=h order.product_id %></td>
    <td><%=h order.peoplenum %></td>
    <td><%=h order.days %></td>
    <td><%=h order.arrivaldate %></td>
    <td><%=h order.contact %></td>
    <td><%=h order.email %></td>
    <td><%= link_to 'Show', admin_order_path(order) %></td>
    <td><%= link_to 'Edit', edit_admin_order_path(order) %></td>
    <td><%= link_to 'Destroy', admin_order_path(order), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New order', new_admin_order_path %>
