<h1>订单列表</h1>

<table border='1' style="max-width:840px">
  <tr>
    <th>真实姓名</th>
    <th>身份证</th>
    <th>房间类型</th>
    <th>人数</th>
    <th>预住天数</th>
    <th>到达日期</th>
    <th>联系方式</th>
    <th>Email</th>
  </tr>

<% for order in @orders %>
  <tr>
    <td><%=h order.realname %></td>
    <td><%=h order.idcard %></td>
    <td><%=h order.product.name %></td>
    <td><%=h order.peoplenum %></td>
    <td><%=h order.days %></td>
    <td><%=h order.arrivaldate %></td>
    <td><%=h order.contact %></td>
    <td><%=h order.email %></td>
    <td><%= link_to '显示', admin_order_path(order) %></td>
    <td><%= link_to '修改', edit_admin_order_path(order) %></td>
    <td><%= link_to '删除', admin_order_path(order), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to '新订单', new_admin_order_path %>
