<p>
  <b>真实姓名:</b>
  <%=h @order.realname %>
</p>

<p>
  <b>身份证:</b>
  <%=h @order.idcard %>
</p>

<p>
  <b>房间类型ID:</b>
  <%=h @order.product_id %>
</p>

<p>
  <b>人数:</b>
  <%=h @order.peoplenum %>
</p>

<p>
  <b>预住天数:</b>
  <%=h @order.days %>
</p>

<p>
  <b>到达日期:</b>
  <%=h @order.arrivaldate %>
</p>

<p>
  <b>联系方式:</b>
  <%=h @order.contact %>
</p>

<p>
  <b>Email:</b>
  <%=h @order.email %>
</p>


<%= link_to '修改', edit_admin_order_path(@order) %> |
<%= link_to '后退', admin_orders_path %>
