<h1>修改留言</h1>

<% form_for(@feedback,:url=>admin_feedback_path(@feedback),:method=>:put) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label "名称" %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label "留言内容" %><br />
    <%= fckeditor_textarea("feedback", "content", :toolbarSet => 'Simple', :width => '600px', :height => '500px') %>
  </p>
  <p>
    <%= f.submit "更新" %>
  </p>
<% end %>

<%= link_to '显示', @feedback %> |
<%= link_to '后退', admin_feedbacks_path %>
