<h1>留言列表</h1>

<table border='1'>
        <tr>
                <th>名称</th>
                <th>Email</th>
                <th>内容</th>
        </tr>

        <% for feedback in @feedbacks %>
            <tr>
                    <td><%=h feedback.name %></td>
                    <td><%=h feedback.email %></td>
                    <td><%=h feedback.content %></td>
                    <td><%= link_to '显示', admin_feedback_path(feedback) %></td>
                    <td><%= link_to '修改', edit_admin_feedback_path(feedback) %></td>
                    <td><%= link_to '删除', admin_feedback_path(feedback), :confirm => '确定删除?', :method => :delete %></td>
            </tr>
        <% end %>
</table>

<br />
