<h1>New feedback</h1>

<% form_for(:feedback,:url=>admin_feedbacks_path) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :content %><br />
    <%= fckeditor_textarea("feedback", "content", :toolbarSet => 'Simple', :width => '600px', :height => '500px') %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', admin_feedbacks_path %>
