<p>
  <b>Name:</b>
  <%=h @feedback.name %>
</p>

<p>
  <b>Email:</b>
  <%=h @feedback.email %>
</p>

<p>
  <b>Content:</b>
  <%=textilize_without_paragraph(@feedback.content) %>
</p>


<%= link_to 'Edit', edit_admin_feedback_path(@feedback) %> |
<%= link_to 'Back', admin_feedbacks_path %>