<p>
  <b>名称:</b>
  <%=h @feedback.name %>
</p>

<p>
  <b>Email:</b>
  <%=h @feedback.email %>
</p>

<p>
  <b>内容:</b>
  <%=textilize_without_paragraph(@feedback.content) %>
</p>


<%= link_to '修改', edit_admin_feedback_path(@feedback) %> |
<%= link_to '退后', admin_feedbacks_path %>