<h1>新闻分类</h1>

<table border='1'>
  <tr>
    <th>名称</th>
    <th>隶属新闻分类ID</th>
  </tr>

  <% for news_category in @news_categories %>
    <tr>
      <td><%=h news_category.name %></td>
      <td><%=h news_category.parent_id %></td>
      <td><%= link_to '显示', admin_news_category_path(news_category) %></td>
      <td><%= link_to '修改', edit_admin_news_category_path(news_category) %></td>
      <td><%= link_to '删除', admin_news_category_path(news_category), :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>
    <script src="/javascripts/xtree.js"></script>
    <link type="text/css" rel="stylesheet" href="xtree.css">

    <script  type="text/javascript">
      function setCategory(id){
        var d=document.getElementById("news_topic_news_category_id");
        if(id==0)
          d.value="";
        else
          d.value=id.toString();
      }
      var tree=new WebFXTree("Root");
  <% for nc in @news_categories   %>
      var tree_<%=nc.id %>=new WebFXTreeItem('<%=nc.name %>',"javascript:setCategory(<%=nc.id%>)");
    <%if nc.parent_id.blank? %>
        tree.add(tree_<%=nc.id %>);
    <%else%>
        tree_<%=nc.parent_id %>.add(tree_<%=nc.id %>,"javascript:setCategory(<%=nc.id%>)");
    <%end%>
  <%  end %>
    document.write(tree);
    </script>
<br />

<%= link_to '新建新闻分类', new_admin_news_category_path %>
