<%= javascript_include_tag :fckeditor %>

<h1>设置关于我们信息</h1>

<% form_for(:setting,:url=>{:controller=>'/admin/home', :action=>'set_about_us'}) do |f| %>
    <%= flash[:notice] %>

    <p>
            <%= f.label "内容" %><br />
            <%= fckeditor_textarea("setting", "value", :toolbarSet => 'Simple', :width => '650px', :height => '500px') %>
    </p>
    <p>
            <%= f.submit "更新" %>
    </p>
<% end %>