<h1>创建留言</h1>

<% form_for(@feedback) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name, "名字" %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :content, "内容" %><br />
    <%= f.text_field :content %>
  </p>
  <p>
    <%= f.submit "提交" %>
  </p>
<% end %>