<table width="780" border="0" align="center" cellpadding="0" cellspacing="5">
  <tr>
    <td width="200" valign="top">
      <%=render :partial=>'/shared/menu' %>
    </td>
    <td width="565" valign="top">
      <table width="100%" border="0" cellpadding="5" cellspacing="0" class="content_border">
        <tr>
          <td class="content_title">留言板</td>
        </tr>
        <tr>
          <td height="118" valign="top">
            <% form_for(@feedback) do |f| %>
            <table width="100%" border="0" cellspacing="0" cellpadding="5">
              <tr><td colspan="2" align="center" style="color:red;"><%= f.error_messages %><%=flash[:notice]%></td></tr>
              <tr>
                <td width="16%" align="right">
                  <span class="property_title">名字</span></td>
                  <td width="84%"><%= f.text_field :name,:style=>"width: 400px;" %></td>
                </tr>
                <tr>
                  <td width="16%" align="right">
                    <span class="property_title">Email</span></td>
                    <td width="84%"><%= f.text_field :email,:style=>"width: 400px;" %></td>
                  </tr>
                  <tr>
                    <td align="right" valign="top">
                      <span class="property_title">建议</span></td>
                      <td><%= f.text_area :content,:style=>"width: 400px; height: 180px" %></td>
                    </tr>
                    <tr>
                      <td align="right" valign="top">
                        &nbsp;</td>
                        <td><%= f.submit "提交" %></td>
                      </tr>
                    </table>
                    <% end %>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>