<table width="570" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="86" bgcolor="#E1E1D6">&nbsp;&nbsp;<img src="/images/<%="en/" if session[:en] -%>guestbook_title.gif" /></td>
  </tr>
</table>
<table width="570" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="28" align="center" background="../images/line.gif">&nbsp;
    </td>
  </tr>
</table>
<table width="510" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td style="padding-top:20px">

      <table>
        <tr align="left">
          <td>
            <% form_for(@feedback) do |f| %>
                                                    <table width="100%" border="0" cellspacing="0" cellpadding="5">
                                                            <tr><td colspan="2" align="center" style="color:red;"><%= f.error_messages %><%=flash[:notice]%></td></tr>
                                                            <tr>
                                                                    <td width="16%" align="right">
                                                                    <span class="property_title">名称</span></td>
                                                                    <td width="84%"><%= f.text_field :name,:style=>"width: 400px;" %></td>
                                                            </tr>
                                                            <tr>
                                                                    <td width="16%" align="right">
                                                                    <span class="property_title">Email</span></td>
                                                                    <td width="84%"><%= f.text_field :email,:style=>"width: 400px;" %></td>
                                                            </tr>
                                                            <tr>
                                                                    <td align="right" valign="top">
                                                                    <span class="property_title">您的建议</span></td>
                                                                    <td><%= f.text_area :content,:style=>"width: 400px; height: 180px" %></td>
                                                            </tr>
                                                            <tr>
                                                                    <td align="right" valign="top">
                                                                    &nbsp;</td>
                                                                    <td><%= f.submit "Create" %></td>
                                                            </tr>
                                                    </table>
                                                <% end %>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
