<% form_for(@activity,:url => {:action => :update_images}) do |f| %>
  <%= f.error_messages %>
  <% for pic in @activity.activities_pictures %>
    <div id="picture_<%=pic.id%>" style="clear:both">
      <div style="float:left">
        <%=link_to image_tag(pic.public_filename(:small)),pic.public_filename()  %>
      </div>
      <% f.fields_for pic,:index => pic.id do |ap| %>
        <div style="float:right;margin-left:20px;vertical-align:top;">
          <%=ap.hidden_field :id,:name => 'pic[id][]',:value => pic.id %>
        <p>
          <label>图片名称</label><br />
          <%=ap.text_field 'name',:name => 'pic[name][]'  %>
        </p>
        <p>
          <label>图片描述</label><br />
          <%=ap.text_area :description,:name =>'pic[description][]',:style => "height:50px;width:410px" %>
        </p>
      <%end%>
      </div>
    </div>
  <% end %>
  <div style="clear:both">
  <%= f.submit "提交" %>
  </div>
<% end %>

<%= link_to '显示', @activity %> |
<%= link_to '后退', activities_path %>
