<h1>创建客房分类</h1>

<% form_for(@category,:url=>admin_categories_path) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label "客房分类名称" %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit "创建" %>
  </p>
<% end %>

<%= link_to '后退', admin_categories_path %>
