<%= javascript_include_tag :fckeditor %>

<h1>新建房间</h1>
<h4>第一步：填写房间相关内容</h4>

<% form_for(@product, :url=>admin_products_path,:method=>:post) do |f| %>
    <%= f.error_messages %>

    <p>
            <%= f.label "房间分类ID" %><br />
            <%= f.select :category_id,Category.find(:all).collect {|c| [ c.name, c.id ] } %>
    </p>
    <p>
            <%= f.label "名称" %><br />
            <%= f.text_field :name %>
    </p>
    <p>
            <%= f.label "描述" %><br />
            <%= fckeditor_textarea("product", "description", :toolbarSet => 'Simple', :width => '600px', :height => '500px') %>
    </p>

    <p>
            <%= f.submit "下一步" %>
    </p>
<% end %>

<%= link_to '后退', admin_products_path %>