<%= javascript_include_tag :fckeditor %>

<h1>New product</h1>
<h4>First Step: Fill the product form.</h4>

<% form_for(@product, :url=>admin_products_path,:method=>:post) do |f| %>
    <%= f.error_messages %>

    <p>
            <%= f.label :category %><br />
            <%= f.select :category_id,Category.find(:all).collect {|c| [ c.name, c.id ] } %>
    </p>
    <p>
            <%= f.label :name %><br />
            <%= f.text_field :name %>
    </p>
    <p>
            <%= f.label :specification %><br />
            <%= f.text_field :specification %>
    </p>
    <p>
            <%= f.label :description %><br />
            <%= fckeditor_textarea("product", "description", :toolbarSet => 'Simple', :width => '600px', :height => '500px') %>
    </p>

    <p>
            <%= f.submit "next" %>
    </p>
<% end %>

<%= link_to 'Back', admin_products_path %>