<p>
        <b>Name:</b>
        <%=h @product.category.name %>
</p>

<p>
        <b>Name:</b>
        <%=h @product.name %>
</p>

<p>
        <b>Price:</b>
        <%=h @product.number %>
</p>

<p>
        <b>Specification:</b>
        <%=h @product.specification %>
</p>

<p>
        <b>Description:</b>
        <%=@product.description %>
</p>

<% for pic in @product.pictures %>
    <p>
            <%=link_to(image_tag(pic.public_filename(:small)),pic.public_filename()) %>
    </p>
<% end %>


<%= link_to 'Edit', edit_admin_product_path(@product) %> |
<%= link_to 'Back',admin_products_path %>
