<p>
        <b>房间分类名称:</b>
        <%=h @product.category.name %>
</p>

<p>
        <b>名称:</b>
        <%=h @product.name %>
</p>

<p>
        <b>编号:</b>
        <%=h @product.number %>
</p>

<p>
        <b>规格:</b>
        <%=h @product.specification %>
</p>

<p>
        <b>描述:</b>
        <%=@product.description %>
</p>

<% for pic in @product.pictures %>
    <p>
            <%=link_to(image_tag(pic.public_filename(:small)),pic.public_filename()) %>
    </p>
<% end %>


<%= link_to '修改', edit_admin_product_path(@product) %> |
<%= link_to '后退',admin_products_path %>
