<table width="570" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="86" bgcolor="#E1E1D6">&nbsp;&nbsp;<img src="/images/<%="en/" if session[:en] -%>newscenter_title.jpg" /></td>
  </tr>
</table>
<table width="570" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="28" align="center" background="../images/line.gif">
      <a href="/news_categories">所有新闻</a> |
      <% for news_category in @news_categories %>
        <%= link_to h(news_category.name), news_category %>
        <%=" | " if news_category!=@news_categories.last %>
      <%end%>
    </td>
  </tr>
</table>
<table width="510" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td style="padding-top:20px">

      <table>
        <tr align="left">
          <th width='90%'>标题</th>
          <th>日期</th>
        </tr>

        <% for news_topic in @news_topics %>
          <tr>
            <td>- <span class="h5"><%= link_to h(news_topic.title), news_topic %></span></td>
            <td><small style="color:red"><%= news_topic.created_at.strftime("%Y-%m-%d") %></small></td>
          </tr>
        <% end %>
      </table>
    </td>
  </tr>
</table>
