<table width="100%" border="0" cellspacing="0" cellpadding="5">
  <% for product in @products %>
  <tr>
    <td>
      <table class="product_item" width="100%" border="0" cellspacing="0" cellpadding="5">
        <tr>
          <td width="25%" valign="top">
            <%=link_to image_tag(product.pictures.first.public_filename(:small)),product_path(product) if product.pictures.count > 0 %>
          </td>
          <td width="75%" valign="top">
            <table width="100%" border="0" cellpadding="5" cellspacing="0" class="footer">
              <tr>
                <td width="11%" align="right">名字:</td>
                <td width="89%" align="left"><%= link_to h(product.name), product_path(product) %></td>
              </tr>
              <tr>
                <td align="right">编号:</td>
                <td align="left"><%=h product.number %></td>
              </tr>
              <tr>
                <td align="right" valign="top">规格:</td>
                <td align="left" valign="top"><%=h product.specification %></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <% end %>
</table>
<table width="100%" border="0" cellspacing="5" cellpadding="5">
  <tr>
    <td align="left"><%=will_paginate @products %></td>
  </tr>
</table>
