<table width="570" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="86" bgcolor="#E1E1D6">&nbsp;&nbsp;客房服务</td>
  </tr>
</table>
<table width="570" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="28" align="center" background="../images/line.gif">&nbsp;
    </td>
  </tr>
</table>
<table width="510" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td style="padding-top:20px">
      <table width="100%" border="0" cellpadding="5" cellspacing="0" class="content_border">
                                <!--big picture-->
                                <tr>
                                        <td height="118" colspan="2" valign="top">
                                        <%=image_tag(@product.pictures.first.public_filename(:middle)) if @product.pictures.size > 0 %></td>
                                </tr>
                                <tr>
                                        <td colspan="2" align="center" valign="top">
                                                <% for pic in @product.pictures %>
                                                    <table class="product_item" border="0" cellspacing="5" cellpadding="0">
                                                            <tr>
                                                                    <td>
                                                                            <%=link_to(image_tag(pic.public_filename(:small),:border=>0),pic.public_filename()) %>
                                                                    </td>
                                                            </tr>
                                                    </table>
                                                <% end %>
                                        </td>
                                </tr>
                                <tr>
                                        <td colspan="2" valign="top">
                                                <table width="100%" border="0" cellspacing="0" cellpadding="5">
                                                        <tr>
                                                                <td colspan="2" bgcolor="#eeeeee">
                                                                <span class="product_title"><%=h @product.name %></span></td>
                                                        </tr>
                                                        <tr>
                                                                <td width="16%" align="right"><span class="property_title">价格</span></td>
                                                                <td width="84%"><%=h @product.number %></td>
                                                        </tr>
                                                        <tr>
                                                                <td align="right"><span class="property_title">规格</span></td>
                                                                <td><%=h @product.specification %></td>
                                                        </tr>
                                                        <tr>
                                                                <td align="right" valign="top">
                                                                <span class="property_title">描述</span></td>
                                                                <td><%=@product.description %></td>
                                                        </tr>
                                                </table>
                                                <br/>
                                                <%=render_new_order_form(@product.id,'product') %>
                                        </td>
                                </tr>
                        </table>
    </td>
  </tr>
</table>

