<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
        <head>
                <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
                <title>Epoch Art - Antique</title>
               <%=javascript_include_tag 'prototype','effects','controls','application','swfupload','upload' %>
                <%=stylesheet_link_tag 'default' %>
        </head>
        <body>                
                <%=render :partial=>'/shared/header' %>
                <%=yield %>
                <%=render :partial=>'/shared/footer' %>
        </body>
</html>
